@page "/currency"


@inject NavigationManager NavManager


<h1>Currency Conversion</h1>


<br />
<br />

    <button class="btn btn-primary btn-lg" @onclick="navToDaysUntil">Days Until</button>
<br />
<br />

@code {
    private void navToDaysUntil()
    {
        NavManager.NavigateTo("/daysuntil");
    }
}
