@page "/daysuntil"

<PageTitle>Days Until</PageTitle>

<h1>Days Until</h1>

@inject NavigationManager NavManager



<br />
<br />

<button class="btn btn-primary btn-lg" @onclick="navToCurrency">Currency Conversion</button>
<br />
<br />

@code {
    private void navToCurrency()
    {
        NavManager.NavigateTo("/currency");
    }
}