@page "/"

@inject NavigationManager NavManager

<PageTitle>Select...</PageTitle>

<button class="btn btn-primary" @onclick="navToDaysUntil">Days Until</button>

<button class="btn btn-primary" @onclick="navToCurrency">Currencies</button>


@code{
    
    private void navToDaysUntil()
    {
        NavManager.NavigateTo("/daysuntil");
    }

    private void navToCurrency()
    {
        NavManager.NavigateTo("/currency");
    }
}