@page "/"

@inject NavigationManager NavManager

<PageTitle>Travel Apps</PageTitle>

<center>

    <br />
    <br />

    <font size= "24">Travel Apps</font>


    <br />
    <br />


<button class="btn btn-primary btn-lg" @onclick="navToDaysUntil">Days Until</button>
    <br />
    <br />

<button class="btn btn-primary btn-lg" @onclick="navToCurrency">Currencies</button>
</center>


@code{
    
    private void navToDaysUntil()
    {
        NavManager.NavigateTo("/daysuntil");
    }

    private void navToCurrency()
    {
        NavManager.NavigateTo("/currency");
    }
}